$main-color: #fdcc52;
$light-color: #fff;
$dark-color: #222;
$gradient-start-color: #d92433;
$gradient-end-color: #7d4296;
$gradient-middle-color: #ae3361;
$fb-color: #4267B2;
$twitter-color: #1da1f2;